<div class="row mt-3">
    <h1 class="text-dark text-center">Welcome to CHARUSAT!!!</h1>
    <p class="text-dark text-center mt-3">Charotar University of Science and Technology is established under the Gujarat Act No. 8 of 1995, Government of Gujarat. 
        University Grants Commission has empowered CHARUSAT to award Degrees under Section 22 of UGC Act 1956. 
        Earlier campus was known as Education Campus Changa until 2009.</p>
</div>